<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mediscreen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1 class="text-center mb-5">Liste des Patients</h1>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="/patient/add" class="btn btn-success">Nouveau patient</a>
        <form th:action="@{/patient/search}" method="get" class="form-row">
            <div class="col">
                <input type="text" name="lastname" class="form-control" placeholder="Nom" />
            </div>
            <div class="col">
                <input type="text" name="firstname" class="form-control" placeholder="Prénom" />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </form>

        <div th:if="${noPatientFound}" class="alert alert-warning" role="alert">
            Aucun patient trouvé.
        </div>


    </div>


    <table class="table table-light table-hover">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de Naissance</th>
            <th>Adresse</th>
            <th>Numéro de Téléphone</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.firstName}"></td>
            <td th:text="${patient.lastName}"></td>
            <td th:text="${#dates.format(patient.dateOfBirth, 'dd/MM/yyyy')}"></td>
            <td th:text="${patient.address}"></td>
            <td th:text="${patient.phoneNumber}"></td>
            <td th:text="${patient.gender}"></td>
            <td>
                <a th:href="@{/patient/update/{id}(id=${patient.id})}" class="btn btn-warning">Modifier</a>
                <a th:href="@{/patient/delete/{id}(id=${patient.id})}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce patient ?');">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h1 class="text-center mt-5">Notes</h1>

    <a href="/note/add" class="btn btn-success mb-3">Nouvelle note</a>
    <table class="table table-light table-hover">
        <thead class="thead-light">
        <tr>
            <th>patId</th>
            <th>patient</th>
            <th>note</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="notes : ${notes}">
            <td th:text="${notes.getPatientId()}"></td>
            <td th:text="${notes.getPatient()}"></td>
            <td th:text="${notes.getNote()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
